/* =================================
   FRENCH COLOR CARDS
================================= */

.quiz-card{
    width:220px;
    height:260px;
    border-radius:25px;
    text-align:center;
    padding:20px;
    margin:20px auto;
    background:white;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    transition:0.3s;
}

.quiz-card:hover{
    transform:scale(1.05);
}

.quiz-card h2{
    font-size:30px;
    color:#333;
}

.quiz-card p{
    font-size:20px;
}

/* Rouge kart rengi */

.rouge-card{
    background:#ff4d4d;
    color:white;
}

.rouge-card h2{
    color:white;
}

.rouge-card p{
    color:white;
}
